.leadership {
    text-align: center;
    padding: 4rem 2rem;
    /* background-color: #f8f9fa; */
    /* background-image: url('../../assets/images/banner-three.png'); */
    background-size: cover;
    background-position: center;
}

.leadership h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #333;
}

.leadership-text {
    font-size: 1.2rem;
    color: #333;
    max-width: 900px;
    margin: 0 auto;
    line-height: 1.8;
}

.leaders-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 3rem;
}

.leader-card {
    /* background: #ffffff; */
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    /* border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    text-align: center;
    width: 300px;
    /* transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; */
}

/* .leader-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
} */

.leader-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    /* margin-bottom: 1rem; */
    object-fit: fill;
}

.leader-card h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #333;
}

.leader-card p {
    font-size: 1rem;
    color: #666;
}

/* Responsive */
@media (max-width: 768px) {
    .leaders-container {
        flex-direction: column;
        align-items: center;
    }
}